* {
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("leaf.webp");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 40%;
}

li {
    list-style: none;
}

a {
    color: #223f40;
}

.maincontainer {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 60%;
}

#transition-container {
    align-items: center;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    height: 100%;
    color: white;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.25s;
    padding: 1em;
  }

  #transition-container h6 {
    color:rgb(222, 184, 135);
    text-decoration: none;
    text-align: right;
  }

  #transition-container a {
    color: white;
    text-decoration: none;
  }
  
  #transition-container:hover {
    background-color: #223f40;
    cursor: pointer;
  }

  #transition-container a:hover {
    color:rgb(222, 184, 135);
  }